/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: sans-serif;
}

header {
  background-color: var(--skyblue);
  color: white;
  font-weight: bold;
}

main{
  color: var(--darkgray);
}

ul{
  list-style: none;
  text-transform: capitalize;
}

a{
  text-decoration: none;
  color: white;
  }

button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 33.5px;
}

h1{
  font-size: 60px;
  padding: 62px;
}

h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3{
  font-size: 35px;
  color: var(--azure);
  margin-bottom: 15px;
}

h4{
  font-size: 22px;
}

h5{
  font-size: 16px;
  color: var(--azure);
}

button.azure{
  background-color: var(--azure);
  border: 1px solid var(--azure);
  color: white;
}

/* Utils */

:root{
  --skyblue: rgb(37,94,233);
  --darkgray: rgb(35,39,42);
  --azure: rgb(142,161,225);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.flex.column{
  flex-direction: column;
}

.debug .border {
  border: 2px dashed black;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: lightgray;
}


/* # Navbar */

.navbar {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;
}

.navbar-menu {
  padding: 30px;
  flex-grow: 1;
  justify-content: space-around;
}

.navbar-actions {
  text-align: right;
}

#log-in {
  background-color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 18.5px;
  font-weight: bold;
  font-size: 16px;
}

/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 660px;
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.jumbotron .content {
  width: 50%;
  padding: 0 40px;
  align-items: center;
}

.jumbotron p{
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 400;
}

.jumbo-nav{
  gap: 30px;
}


button.white{
  background-color: white;
  color: black;
  border: 1px solid white;
}

button.gray{
  background-color: var(--darkgray);
  color: white;
  border: 1px solid var(--darkgray);
}

/* # Main & sections */
section {
  padding: 50px;
  min-height: 600px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 30%;
  padding-top: 40px;
}

.flex > .large-col {
  flex-basis: 70%;
}

.flex > .full-col {
  flex-basis: 100%;
  align-items: center;
}

section p{
  font-size: 19px;
  font-weight: bold;
}

.row-reverse .large-col{
  text-align: right;
}

#img-discord-video{
  width: 100%;
}

.star-bg{
  padding: 40px 20px 0 20px ;
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-bottom: 20px;
}

.star-bg > h4{
  padding: 0 20px;
}

.full-col > p {
  text-align: center;
}


/* # Footer */

footer {
  padding: 50px;
  background-color: #23272a;
  color: white;
  font-weight: bold;
}

.footer-top {
  max-height: 600px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--azure);
  display: flex;
}

.footer-top .footer-left {
  flex-basis: 30%;
  padding-top: 50px;
}

.flag{
  height: 20px;
  vertical-align: text-top;
}

.language{
  margin-bottom: 15px;
}

#language-selection{
  background-color: transparent;
  border: transparent;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.social li{
  padding-right: 20px;
}

.footer-top .footer-right {
  flex-basis: 70%;
  padding-top: 50px;
}

.footer-nav {
  height: 100%;
  display: flex;
}

.footer-nav > div {
  flex-basis: 25%;
}

.nav-col li{
  margin: 10px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 }



